/neet1programming/bin/*
/neet1programming/bin/com/ecb/tamochu/neet1programming/*
/neet1programming/bin/com/ecb/tamochu/neet1programming/exam/*
/neet1programming/bin/com/ecb/tamochu/neet1programming/answer/*
/neet1programming/bin/com/ecb/tamochu/neet1programming/original/*
